.header {
    background: #f6f6f6;
    padding: 22px 0;
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        flex: 1 0 auto;
    }

    &__menu {
    }
    @media (max-width: 970px) {
        padding: 10px 0;
    }
}

.menu {

    &__icon {
    }

    &__body {
    }

    &__list {
        display: flex;
        li {
            margin: 0 60px 0 0;
        &:last-child {
            margin: 0;
        }
        }
    }

    &__link {
        color: #000;
        font-size: 16px;
        text-transform: uppercase;
        padding: 27px 10px;
        &:hover {
            background: #ffea00;
        }
    }
    @media (max-width: 970px) {
        &__list {
            li {
                margin: 0 20px 0 0;
                &:last-child {
                    margin: 0;
                }
            }
        }
        &__link {
            padding: 17px 5px;
        }
    }
    @media (max-width: 767px) {
        &__body {
            position: fixed;
            width: 100%;
            height: 100%;
            top: -100%;
            left: 0;
            background-color: #f6f6f6;
            padding: 150px 0 20px 0;
            opacity: 0.8;
            overflow: auto;
            transform: translate(0, -100%);
            transition: all 0.3s ease 0s;
            &.active {
                top: 0;
                transform: translate(0, 0);
            }
        }
        &__list {
            flex-direction: column;
            align-items: center;
            li {
                padding: 0 0 35px 0;
                margin: 0;
                &:last-child {
                    padding: 0 0 0 0;
                }
            }
        }
        &__link {
            padding: 5px 5px;
        }
    }
}
.icon-menu {
    @media (max-width: 767px) {
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
        span {
            animation: (0.3s, 0s);
            top: 8px;
            left: 0;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #000;
            &:first-child {
                top: 0;
            }
            &:last-child {
                top: auto;
                bottom: 0;
            }
        }
        &:active {
            span {
                transform: scale(0);
                &:first-child {
                    transform: rotate(-45deg);
                    top: 8px;
                }
                &:last-child {
                    transform: rotate(45deg);
                    bottom: 8px;
                }
            }
        }
    }
}
